
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    border: 0;
    background: transparent;
    height: auto;
    outline: 0;
    border-bottom: 1px solid black;
    border-color: black;
  }
  
  .form-label-group input:focus {
    border-color: green;
  }

 .password-reset {
    display: block;
    text-align: center;
    font-size: 0.8em;
    padding-top: 6px;
    cursor: pointer;
 }
  
.create-new-account {
    display: block;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    margin-top: 30px;
    color: #007bff;
    cursor: pointer;
}
  
  
  