<div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
				<div class="card-body">
					<img src="/assets/lg.png">
					<h5 class="card-title text-center"></h5>
					<form class="form-signin" *ngIf="isSignIn">
						<div class="form-label-group">
							<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required tabindex="-1">
            </div>

						<div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control"  placeholder="Password" required>

						</div>

						<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            <span class="password-reset" (click)="changeAction(RESET_PASSWORD)" >Password Reset</span> 
            <span class="create-new-account" (click)="changeAction(CREATE)"><b>Create New Account</b></span>
					</form>

					<form class="form-signin" *ngIf="isPasswordReset">
						<div class="form-label-group">
							<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required tabindex="-1">

						</div>

						<button class="btn btn-lg btn-primary btn-block text-uppercase"  type="submit">Reset Password</button>
            <span class="password-reset" (click)="changeAction(LOGIN)">Sign In</span> 
            <span class="create-new-account" (click)="changeAction(CREATE)"><b>Create New Account</b></span>
					</form>
					<form class="form-signin" *ngIf="isCreateAccount">
						<div class="form-label-group">
							<input type="email" id="inputEmail" class="form-control" 	placeholder="Email address" required tabindex="-1">

						</div>

						<div class="form-label-group">
							<input type="password" id="inputPassword" class="form-control" 	placeholder="Password" required>
            </div>

						<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Create Account</button>
             <span class="create-new-account" (click)="changeAction(LOGIN)"><b>Sign in</b></span>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>